:root {
    --bg-color: #901919;
    --bg-highlight: #4a0909;
    --bg-code: #111;
    --bg-nav: #000;
    --bg-nav2: #666;
    --bg-header: #444;
    --fg-color: #fbb0b0;
    --fg-header: #a80;
    --fg-title: #bbb;
    --fg-dim: #666;
    --fg-highlight: #a80;
    --fg-hover: #b91;
    --fg-nav: #ccc;
    --fg-nav-current: #ddd;

    --content-width: 50vw;
    --footer-height: 30px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin: 0 0 var(--footer-height);
}

a {
    color: var(--fg-highlight);
}

a:hover {
    color: var(--fg-hover);
}

#header {
    color: var(--fg-header);
    background-image: url(https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/2566840/441411_844139.jpeg);
	background-size: cover;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
	min-height: 5em;
}

#header h1 {
    margin: 0;
}

#header a {
    color: var(--fg-header);
    text-decoration: none;
}

#lang-select {
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: none;
    font-size: 0.8em;
    position: fixed;
    min-width: 3em;
    right: 2px;
    top: 2px;
	z-index: 10;
}

#nav {
    background-color: var(--bg-nav);
    position: sticky;
    top: 0;
    white-space: nowrap;
    color: var(--fg-nav);
    text-align: left;
    z-index: 5;
	padding-left: 25%;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    color: var(--fg-nav);
}

#nav ul {
    list-style: none;
    padding-left: 0;
}

#nav li {
    cursor: pointer;
    padding 0.5em 0.2em;
    min-width: 3em;
}

#nav li:hover, #nav li:focus {
    background-color: var(--bg-highlight);
}

#nav li {
    text-align: left;
    padding: 0.5em;
}

#nav > ul {
    margin: 0;
}

#nav > ul > li {
    display: inline-block;
    position: relative;
    line-height: 1em;
}

#nav > ul ul {
    position: absolute;
    display: none;
    background-color: var(--bg-nav2);
}

#nav li:hover > ul, #nav li:focus > ul {
    display: block;
}

#nav > ul > li > ul {
    top: 2em;
    left: 0;
}

#nav > ul > li > ul ul {
    top: 0;
    right: 0;
    transform: translate(100%, 0);
}

@media only screen and (max-width: 500px) {
    #nav {
        position: static;
        white-space: normal;
        padding: 0;
    }

    #nav ul {
        position: static !important;
        transform: none !important;
    }

    .nav-name {
        display: inline-block;
        padding: 0.5em;
    }

    #nav li {
        width: 100vw;
        padding: 0;
        overflow-x: hidden;
    }
}

.nav-name {
    color: var(--fg-nav);
    display: inline-block;
    width: 100%;
}

.nav-current {
    color: var(--fg-nav-current);
}

#nav-logo {
	height: 2em;
	float: left;
}

#footer {
    position: absolute;
    height: var(--footer-height);
    width: 100%;
    bottom: 0;
    font-size: 0.8em;
    line-height: var(--foter-height);
    background-color: var(--bg-header);
}

#content {
    width: var(--content-width);
    min-width: 300px;
    max-width: 20cm;
    display: inline-block;
    padding: 1em;
}

#content {
    text-align: left;
}

#content p {
    line-height: 1.5;
}

#content img {
    display: inline-block;
    margin: 0.5em 0;
    vertical-align: top;
    object-fit: cover;
    object-position: center;
}

#content img[alt="left"] {
	float: left;
	margin: 0.5em;
}

#content img[alt="right"] {
	float: right;
	margin: 0.5em;
}

#content h1 {
    color: var(--fg-title);
    font-size: 2em;
    font-weight: bold;
}

#title {
	text-align: center;
}

#content pre {
    background-color: var(--bg-code);
    padding: 0.5em;
    border: 2px solid black;
    width: 100%;
    max-height: 40vh;
    overflow: scroll;
    scrollbar-color: var(--fg-dim) var(--bg-color);
}

#content pre::-webkit-scrollbar {
    width: 1em;
}
#content pre::-webkit-scrollbar-thumb {
    background: var(--fg-dim);
}
#content pre::-webkit-scrollbar-corner,
#content pre::-webkit-scrollbar-track {
    background: var(--bg-color);
}

#content .post a {
    text-decoration: none;
}
