:root {
    --bg-color: #ffffff;
	--bg-body: #2b2b2b;
    --bg-highlight: #eeeeee;
    --bg-box: #e9e9e9;
    --bg-nav: #519D9E;
    --bg-nav2: #58C9B9;
    --bg-nav3: #F7AA97;
    --bg-header: #46c5ca;
    --bg-footer: #73cfd2;
	--bg-scroll: #ccc;
    --fg-color: #3a3a3a;
    --fg-footer: #734b13;
    --fg-title: #484848;
    --fg-dim: #f9a3a3;
    --fg-highlight: #f1e0af;
    --fg-hover: #FFFFF3;
    --fg-nav: #000000;
    --fg-nav-current: #ffffff;
	--border-box: #fff;

    --content-width: 60vw;
	--content-min: 300px;
	--content-max: 20cm;
    --footer-height: 80px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: var(--fg-color);
	background-color: var(--bg-body);
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    margin: 0 0 var(--footer-height);
}

a {
    color: var(--fg-highlight);
}

a:hover {
    color: var(--fg-hover);
}

div:focus, ul:focus, li:focus {
	outline: none;
}

#header {
    color: var(--fg-header);
    font-size: 1.5em;
    font-weight: bold;
	min-height: 80vh;
	min-width: 300px;
}

#header h1 {
    margin: 0;
}

#header a {
    color: var(--fg-header);
    text-decoration: none;
}

#lang-select {
    background-color: var(--bg-nav);
	border-radius: 0 0 0 10px;
    font-size: 0.8em;
    position: fixed;
    min-width: 3em;
    right: 0;
    top: 0;
	z-index: 10;
    margin: 5px;
    text-align: left;
    padding: 0.2em;
    overflow: hidden;
	cursor: pointer;
}

#lang-select, #lang-select a {
    color: var(--fg-nav) !important;
}

#lang-select li {
    display: block;
}

#lang-select li:first-child::after {
    content: "◀ ";
    float: right;
}

#lang-select:focus li:first-child::after {
    content: "▼ ";
}

#lang-select li:not(:first-child) {
    height: 0;
    opacity: 0;
    padding-right: 1em;
}

#lang-select:focus li:not(first-child),
#lang-select:focus-within li:not(first-child) {
    height: auto;
    opacity: 1;
}

#nav {
    background-color: var(--bg-nav);
    position: sticky;
    top: 0;
    white-space: nowrap;
    color: var(--fg-nav);
    text-align: center;
    z-index: 5;
	width: var(--content-width);
	min-width: var(--content-min);
	max-width: var(--content-max);
	margin: 0 auto;
	padding: 0 1em;
	border-radius: 20px 0 0;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    color: var(--fg-nav);
}

#nav ul {
    list-style: none;
    padding-left: 0;
	display: inline-block;
}

#nav li {
    cursor: pointer;
    text-align: left;
    padding: 0.5em;
    position: relative;
}

#nav li:hover , #nav li:focus {
    background-color: var(--bg-highlight);
}

#nav li:hover > ul, #nav li:focus > ul {
    display: block;
}

/* level 1 */
#nav > ul {
    margin: 0;
}

#nav > ul > li {
    display: inline-block;
    line-height: 1em;
}

/* level >1 */
#nav > ul ul {
    position: absolute;
    display: none;
	border-radius: 0 0 20px;
}

/* level 2 */
#nav > ul > li > ul {
    top: 2em;
    left: 0;
    background-color: var(--bg-nav2);
}

/* level >2 */
#nav > ul > li > ul ul {
	top: 0;
    right: 0;
    transform: translate(100%, 0);
}

/* level 3 */
#nav > ul > li > ul > li > ul {
	background-color: var(--bg-nav3);
}

@media only screen and (max-width: 1020px) {
    #nav {
        position: static;
        white-space: normal;
    }
	
	#nav > ul {
		display: block;
	}

    #nav ul {
        position: static !important;
        transform: none !important;
		border-radius: 0 !important;
    }

    #nav li {
        width: 100%;
        padding: 0;
		overflow-x: hidden;
    }

    .nav-name {
        padding: 0.5em;
    }
}

.nav-name {
    color: var(--fg-nav);
    display: inline-block;
    width: 100%;
}

.nav-current {
    color: var(--fg-nav-current);
}

#nav-logo {
	height: 2em;
	vertical-align: middle;
}

#footer {
    position: absolute;
    height: var(--footer-height);
    width: 100%;
    bottom: 0;
    font-size: 0.8em;
    line-height: var(--footer-height);
	color: var(--fg-footer);
    background-color: var(--bg-footer);
}

#footer-right {
	display: inline-block;
	margin-left: 20px;
}

#footer-left {
	display: inline-block;
	margin-right: 20px;
}

.footer-icon {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

#content {
    background-color: var(--bg-color);
    display: inline-block;
    padding: 1em;
    box-shadow: 3px 10px 10px 5px;
}

#content {
    text-align: left;
	width: var(--content-width);
	min-width: var(--content-min);
	max-width: var(--content-max);
	display: inline-block;
}

#content p {
    line-height: 1.5;
}

#content img {
    display: inline-block;
    margin: 0.5em 0;
    vertical-align: top;
    object-fit: cover;
    object-position: center;
}

#content img[alt="background"] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	object-fit: cover;
    object-position: top;
	margin: 0;
}

#content img[alt="left"] {
	float: left;
	margin: 0.5em;
}

#content img[alt="right"] {
	float: right;
	margin: 0.5em;
}

#content h1 {
    font-size: 2em;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: var(--fg-title);
	text-align: center;
}

#content iframe {
	margin: 0.5em auto;
	display: block;
}

#content .box {
    background-color: var(--bg-box);
	font-size: 14px;
    padding: 0.5em;
    border: 2px solid var(--border-box);
    max-height: 40vh;
    overflow-y: scroll;
    scrollbar-color: var(--fg-dim) var(--bg-color);
	white-space: pre-wrap;
}

#content .box::-webkit-scrollbar {
    width: 1em;
}
#content .box::-webkit-scrollbar-thumb {
    background: var(--fg-dim);
}
#content .box::-webkit-scrollbar-corner,
#content .box::-webkit-scrollbar-track {
    background: var(--bg-scroll);
}